<div class="example-container" xmlns:position="http://www.w3.org/1999/xhtml">

  <mat-form-field [formGroup]="formGroup">
    <input id="name" formControlName="name" class="form-control" required matInput placeholder="Название кафедры" (change)="valuesf(1,$event)">
    <mat-error *ngIf="name.hasError('maxlength')"> Количество символов не должно превышать 255!</mat-error>
    <mat-error *ngIf="name.hasError('required')"> Поле должно быть заполнено</mat-error>
  </mat-form-field>

  <mat-form-field [formGroup]="formGroup">
    <input id="fullname" formControlName="fullname" required class="form-control" matInput placeholder="Полное название" (change)="valuesf(2,$event)">
    <mat-error *ngIf="name.hasError('maxlength')"> Количество символов не должно превышать 1000!</mat-error>
    <mat-error *ngIf="fullname.hasError('required')"> Поле должно быть заполнено</mat-error>
  </mat-form-field>

  <mat-form-field [formGroup]="formGroup">
    <input id="description" formControlName="description" class="form-control" matInput placeholder="Описание">
    <mat-error *ngIf="name.hasError('maxlength')"> Количество символов не должно превышать 10000!</mat-error>
  </mat-form-field>

  <button mat-raised-button color="warn" (click)="add()">
    Сохранить
  </button>
  <button mat-button color="warn" (click)=onCancelClick()> Выйти </button>
</div>
