.speciality-delete-dialog {
  display: flex;
  flex-direction: column;
  font-size: 15pt;
  justify-content: center;
}

.speciality-delete-dialog-controls {
  margin-top: 1%;
  display: flex;
  flex-direction: row;
  margin-right: 0;
  margin-left: auto;
}

button {
  font-size: 17px;
}

span:focus {
  outline: none;
}

button:focus {
  outline: none;
}
