<!-- Toolbar -->
<mat-toolbar class="toolbar" role="banner">

  <div style="display:flex; flex-direction: row; text-align: center">
    <img
      width="80"
      height="100%"
      alt="BNTU Logo"
      src="../assets/bntu-logo2.gif"
    />
    <div style="display: flex; justify-items: center; align-items: center">
      <span>БНТУ</span>
    </div>

    <div style="display: flex; justify-items: center; align-items: center">
      <p style="margin-left: 5%" *ngIf="tabsType === 'LECTERN'">
        Кафедра: {{(lectern !== null) ? lectern.name : '' }}</p>
      <p style="margin-left: 5%" *ngIf="tabsType === 'DEANERY'">
        Деканат: {{(deanery !== null) ? deanery.name : '' }}</p>
    </div>
  </div>

  <div>
    <nav mat-tab-nav-bar *ngIf="tabsType === 'DEANERY' ">
      <a mat-tab-link
         *ngFor="let link of deaneryLinks"
         [routerLink]="'/deanery/' + ((deanery !== null) ? deanery.id : '') + link.path"
         routerLinkActive #rla="routerLinkActive"
         [active]="rla.isActive">
        {{link.label}}
      </a>
    </nav>

    <nav mat-tab-nav-bar *ngIf="tabsType === 'LECTERN'">
      <a mat-tab-link
         *ngFor="let link of lecternNavLinks"
         [routerLink]="'/lectern/' + ((lectern !== null) ? lectern.id : '') + link.path"
         routerLinkActive #rla="routerLinkActive"
         [active]="rla.isActive">
        {{link.label}}
      </a>

      <a mat-tab-link [href]="'http://localhost:8080/lectern/' + lectern.id +  ' /pretimemtable'">
        Расписание занятий
      </a>
    </nav>
  </div>

  <div style="display: flex; align-items: center; justify-items: center; ">
    <i class="material-icons" style="cursor: pointer" (click)="navigateToAccount()">account_circle</i>
  </div>
</mat-toolbar>


