<div style="margin-left:3%;overflow: auto;max-width: 90%">
  <table border="1" style="text-align: center; font-size: 20px">
    <tbody>
      <tr>
        <td rowspan="3">Курсы</td>
        <td colspan="5">Сентябрь</td>
        <td colspan="5">Октябрь</td>
        <td colspan="5">Ноябрь</td>
        <td colspan="5">Декабрь</td>
        <td colspan="5">Январь</td>
        <td colspan="5">Февраль</td>
        <td colspan="6">Март</td>
        <td colspan="5">Апрель</td>
        <td colspan="5">Май</td>
        <td colspan="5">Июнь</td>
        <td colspan="5">Июль</td>
        <td colspan="5">Август</td>
	<ng-container *ngIf="occupations?.length">
        <td rowspan="3" *ngFor="let occupation of occupations">{{occupation.value}}</td>
	</ng-container>
        <td rowspan="3">Всего</td>
      </tr>
      <tr>
        <td colspan="1" >1</td>
        <td colspan="1" >8</td>
        <td colspan="1" >15</td>
        <td colspan="1" >22</td>
        <td colspan="2" >29</td>
        <td colspan="1" >6</td>
        <td colspan="1" >13</td>
        <td colspan="1" >20</td>
        <td colspan="2" >27</td>
        <td colspan="1" >3</td>
        <td colspan="1" >10</td>
        <td colspan="1" >17</td>
        <td colspan="1" >24</td>
        <td colspan="1" >1</td>
        <td colspan="1" >8</td>
        <td colspan="1" >15</td>
        <td colspan="1" >22</td>
        <td colspan="2" >29</td>
        <td colspan="1" >5</td>
        <td colspan="1" >12</td>
        <td colspan="1" >19</td>
        <td colspan="2" >26</td>
        <td colspan="1" >2</td>
        <td colspan="1" >9</td>
        <td colspan="1" >16</td>
        <td colspan="2" >23</td>
        <td colspan="1" >2</td>
        <td colspan="1" >9</td>
        <td colspan="1" >16</td>
        <td colspan="1" >23</td>
        <td colspan="2" >30</td>
        <td colspan="1" >6</td>
        <td colspan="1" >13</td>
        <td colspan="1" >20</td>
        <td colspan="2" >27</td>
        <td colspan="1" >4</td>
        <td colspan="1" >11</td>
        <td colspan="1" >18</td>
        <td colspan="1" >25</td>
        <td colspan="1" >1</td>
        <td colspan="1" >8</td>
        <td colspan="1" >15</td>
        <td colspan="1" >22</td>
        <td colspan="2" >29</td>
        <td colspan="1" >6</td>
        <td colspan="1" >13</td>
        <td colspan="1" >20</td>
        <td colspan="2" >27</td>
        <td colspan="1" >3</td>
        <td colspan="1" >10</td>
        <td colspan="1" >17</td>
        <td colspan="1" >24</td>
      </tr>
      <tr>
        <td colspan="1" >7</td>
        <td colspan="1" >14</td>
        <td colspan="1" >21</td>
        <td colspan="1" >28</td>
        <td colspan="2" >5</td>
        <td colspan="1" >12</td>
        <td colspan="1" >19</td>
        <td colspan="1" >26</td>
        <td colspan="2" >2</td>
        <td colspan="1" >9</td>
        <td colspan="1" >16</td>
        <td colspan="1" >23</td>
        <td colspan="1" >30</td>
        <td colspan="1" >7</td>
        <td colspan="1" >14</td>
        <td colspan="1" >21</td>
        <td colspan="1" >28</td>
        <td colspan="2" >4</td>
        <td colspan="1" >11</td>
        <td colspan="1" >18</td>
        <td colspan="1" >25</td>
        <td colspan="2" >1</td>
        <td colspan="1" >8</td>
        <td colspan="1" >15</td>
        <td colspan="1" >22</td>
        <td colspan="2" >1</td>
        <td colspan="1" >8</td>
        <td colspan="1" >15</td>
        <td colspan="1" >22</td>
        <td colspan="1" >29</td>
        <td colspan="2" >5</td>
        <td colspan="1" >12</td>
        <td colspan="1" >19</td>
        <td colspan="1" >26</td>
        <td colspan="2" >03</td>
        <td colspan="1" >10</td>
        <td colspan="1" >17</td>
        <td colspan="1" >24</td>
        <td colspan="1" >31</td>
        <td colspan="1" >7</td>
        <td colspan="1" >14</td>
        <td colspan="1" >21</td>
        <td colspan="1" >28</td>
        <td colspan="2" >05</td>
        <td colspan="1" >12</td>
        <td colspan="1" >19</td>
        <td colspan="1" >26</td>
        <td colspan="2" >02</td>
        <td colspan="1" >9</td>
        <td colspan="1" >16</td>
        <td colspan="1" >23</td>
        <td colspan="1" >31</td>
      </tr>
      <tr *ngFor="let course of schedule?.courses">
        <td>{{course.name}}</td>
        <td [ngStyle]="{'background-color': week.colspan===2? 'blue' : ''}" *ngFor="let week of course?.weeks" [attr.colspan]="week.colspan">
          <select *ngIf="occupations?.length" (change)="changeOccupation(course.id,week.id,$event)">
            <option   *ngFor="let occupation of occupations" value="{{occupation.symbol}}" [selected]="week.occupation.symbol==occupation.symbol" >{{occupation.symbol}}</option>
          </select>
        </td>
        <td *ngFor="let countOccupation of course.countOccupation">{{countOccupation.count}}</td>
        <td>{{course.total}}</td>
      </tr>
      <tr>
        <td style='border-right:none;border-left:none;border-bottom:none;border-top:none'></td>
        <td *ngFor="let week of schedule?.courses[0]?.weeks" [attr.colspan]="week.colspan" style='border-right:none;border-left:none;border-bottom:none;border-top:none'></td>
        <td *ngFor="let countOccupation of schedule?.countOccupation">{{countOccupation.count}}</td>

      </tr>

    </tbody>
  </table>
</div>

<div style="overflow:auto;max-height:25%;margin-left: 5%; margin-top:3%;font-size: 20px;width: 20%">
  <table border="1">
    <tbody *ngIf="occupations?.length">
      <tr *ngFor="let occupation of occupations">
        <td>{{occupation.symbol}} </td>
        <td>{{occupation.value}}</td>
      </tr>
    </tbody>
  </table>
</div>


<div class="control-panel" style="margin-top:5%">
  <div class="control-panel-inner-block mat-elevation-z21" style="top:80%">
    <button  mat-raised-button class="control-button" (click)="addOccupation()">Добавить нагрузку</button>
    <button  mat-raised-button class="control-button" (click)="saveSchedule()">Сохранить</button>
	<button  mat-raised-button class="control-button" (click)="addCourse()">Добавить курс</button>
  </div>
</div>
