<div class="make-investments-dialog">
  <h1 mat-dialog-title>{{message}}</h1>
  <form [formGroup]="createStudyPlanForm">
    <mat-form-field>
      <input matInput placeholder="Введите название учебного плана: " [formControlName]="'studyPlanName'" maxLength="15">
      <mat-error *ngIf="studyPlanName.invalid" style="font-size: 16px">{{getErrorText('studyPlanName')}}</mat-error>
    </mat-form-field>

    <div class="controls">
      <button mat-button color="primary" (click)="confirm()" [disabled]="studyPlanName.invalid" cdkFocusInitial>
        Confirm
      </button>
      <button mat-button color="warn" (click)=onCancelClick()> Close</button>
    </div>
  </form>
</div>

