<div class="tableMain">
  <mat-form-field>
    <mat-label>Фильтр</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Поиск по сотрудникам">
  </mat-form-field>
  <div class="mat-elevation-z8">
    <table #table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="name">
        <th style="width: 20%" mat-header-cell *matHeaderCellDef mat-sort-header> Имя </th>
        <td style="width: 20%" mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="surname">
        <th style="width: 20%" mat-header-cell *matHeaderCellDef mat-sort-header> Фамилия </th>
        <td style="width: 20%" mat-cell *matCellDef="let element"> {{element.surname}} </td>
      </ng-container>

      <ng-container matColumnDef="patronymic">
        <th style="width: 20%" mat-header-cell *matHeaderCellDef mat-sort-header> Отчество </th>
        <td style="width: 20%" mat-cell *matCellDef="let element"> {{element.patronymic}} </td>
      </ng-container>

      <ng-container matColumnDef="rank">
        <th style="width: 20%" mat-header-cell *matHeaderCellDef mat-sort-header> Должность </th>
        <td style="width: 20%" mat-cell *matCellDef="let element"> {{element.rank}} </td>
      </ng-container>

      <ng-container matColumnDef="update">
        <th style="width: 11%" mat-header-cell *matHeaderCellDef>  </th>
        <td style="width: 11%" mat-cell *matCellDef="let element"> <button mat-raised-button class="control-button" (click)="updateEmployee(element)">Редактировать</button> </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th style="width: 9%" mat-header-cell *matHeaderCellDef>  </th>
        <td style="width: 9%" mat-cell *matCellDef="let element"> <button mat-raised-button class="control-button" (click)="deleteEmployee(element)">Удалить</button> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator  [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
<div class="control-panel" style="margin-top:5%">
  <div class="control-panel-inner-block mat-elevation-z21" style="top:80%">
    <button  mat-raised-button class="control-button" (click)="addEmployee()">Создать сотрудника</button>
    <a href="http://localhost:8080/deanery/{{deaneryId}}/addusertoemployee"><button  mat-raised-button class="control-button">Связать сотрудников с пользователем</button></a>
  </div>
</div>
