<div class="edit-subject">
  <h1 mat-dialog-title>{{message}}</h1>
  <form [formGroup]="editSubjectForm">
    <mat-form-field>
      <input matInput placeholder="Название предмета: " [formControlName]="'subjectName'" maxLength="15">
      <mat-error *ngIf="subjectName.invalid" style="font-size: 16px">{{getErrorText('subjectName')}}</mat-error>
    </mat-form-field>

    <div formArrayName="severities">
      <div *ngFor="let sev of severities.controls; let i = index">
        <div formGroupName="{{i}}">
          <input matInput [formControlName]="'name'" readonly>
          <mat-form-field>
            <input matInput [formControlName]="'hours'" type="number">
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="controls">
      <button mat-button color="primary" (click)="confirm()" [disabled]="editSubjectForm.invalid">
        Confirm
      </button>
      <button mat-button color="warn" (click)=onCancelClick()> Close</button>
    </div>
  </form>
</div>

