<div class="speciality-edit-add-dialog">
  <h1 mat-dialog-title>{{title}}</h1>
  <form [formGroup]="specialityForm">
    <mat-form-field>
      <input matInput placeholder="Аббревиатура: " [formControlName]="'abbreviation'" maxLength="10">
      <mat-error *ngIf="abbreviation.invalid">{{getErrorText('abbreviation')}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Полное название: " [formControlName]="'name'" maxLength="25">
      <mat-error *ngIf="name.invalid">{{getErrorText('name')}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Описание специальности: " [formControlName]="'description'" maxLength="255">
      <mat-error *ngIf="description.invalid">{{getErrorText('description')}}</mat-error>
    </mat-form-field>

    <div class="controls">
      <mat-spinner *ngIf="loading" diameter="40" color="primary">
      </mat-spinner>
      <button mat-button color="primary" (click)="onConfirmClick()" [disabled]="specialityForm.invalid">
        Подтвердить
      </button>
      <button mat-button color="warn" (click)=onCancelClick()> Отмена </button>
    </div>
  </form>
</div>
