<div class="tableMain">
  <mat-form-field>
    <mat-label>Фильтр</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Поиск по группам">
  </mat-form-field>
  <div class="mat-elevation-z8">
    <table #table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="name">
        <th style="width: 18%" mat-header-cell *matHeaderCellDef mat-sort-header> Номер </th>
        <td style="width: 18%" mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th style="width: 23%" mat-header-cell *matHeaderCellDef mat-sort-header> Описание </th>
        <td style="width: 23%" mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <ng-container matColumnDef="count">
        <th style="width: 10%" mat-header-cell *matHeaderCellDef mat-sort-header>Количество студентов</th>
        <td style="width: 10%" mat-cell *matCellDef="let element"> {{element.countOfStudents}} </td>
     </ng-container>

      <ng-container matColumnDef="speciality">
        <th style="width: 17%" mat-header-cell *matHeaderCellDef> Специальность </th>
        <td style="width: 17%" mat-cell *matCellDef="let element"> {{element.speciality.name}} </td>
      </ng-container>

      <ng-container matColumnDef="update">
        <th style="width: 11%" mat-header-cell *matHeaderCellDef>  </th>
        <td style="width: 11%" mat-cell *matCellDef="let element"> <button mat-raised-button class="control-button" *ngIf="isDeleteEditAddGroupEnabled()" (click)="updateGroup(element)">Редактировать</button> </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th style="width: 7%" mat-header-cell *matHeaderCellDef>  </th>
        <td style="width: 7%" mat-cell *matCellDef="let element"> <button mat-raised-button class="control-button" *ngIf="isDeleteEditAddGroupEnabled()" (click)="deleteGroup(element)">Удалить</button> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator  [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>

<div class="control-panel" style="margin-top:5%">
  <div class="control-panel-inner-block mat-elevation-z21" style="top:80%">
    <button  mat-raised-button class="control-button" *ngIf="isDeleteEditAddGroupEnabled()" (click)="addGroup()">Создать группу</button>
  </div>
</div>
