<table class="timetable" id="timetable" border="1" align="center">
<tbody>
	<tr>
		<td [attr.colspan]="num">{{selectedPlan.name}}</td>
	<tr>
	<tr>
		<td rowspan="8">№</td>
		<td class="vertical1" rowspan="8" colspan="2" >Название</td>
		<td [attr.colspan]="num1">Распределение по курсам и семестрам</td>
		<td class="vertical" rowspan="8">Кафедра</td>
	</tr>
	<tr>
		<td colspan="2" *ngFor="let dummy of ' '.repeat(cources).split(''), let i = index">{{i+1}}</td>
	</tr>
	<tr>
		<td  *ngFor="let dummy of ' '.repeat(selectedPlan.countOfSem).split(''), let i = index">{{i+1}}</td>
		<td  *ngFor="let dummy of ' '.repeat(semsLost).split(''), let i = index"> </td>
	</tr>
	<tr>
		<td [attr.colspan]="num1">Недель в семестре</td>
	</tr>
	<tr>
		<td  *ngFor="let dummy of ' '.repeat(selectedPlan.countOfSem).split(''), let i = index">{{selectedPlan.weeks[i]}}</td>
    <td  *ngFor="let dummy of ' '.repeat(semsLost).split(''), let i = index"> </td>
	</tr>
	<tr>
		<td [attr.colspan]="num1">Часах в неделях/зачетных единиц</td>
	</tr>
	<tr>
		<td *ngFor="let dummy of ' '.repeat(selectedPlan.countOfSem).split(''), let i = index">{{i+13}}</td>
    <td  *ngFor="let dummy of ' '.repeat(semsLost).split(''), let i = index"> </td>
	</tr>
	<tr>
		<td *ngFor="let dummy of ' '.repeat(selectedPlan.countOfSem).split(''), let i = index" >час.н. / з.ед.</td>
		<td  *ngFor="let dummy of ' '.repeat(semsLost).split(''), let i = index"> </td>
	</tr>
  <ng-container *ngIf="!editMode" >
    <tr *ngFor="let discipline of selectedPlan.subjects">
           <td>{{discipline.numberOfDiscipline}}</td>
      <td colspan="2"  >{{discipline.name}}</td>
      <td  *ngFor="let dummy of ' '.repeat(selectedPlan.countOfSem).split(''), let i = index">{{discipline.semesters[i].hoursPerWeek}} / {{discipline.semesters[i].creditUnits }} </td>
      <td  *ngFor="let dummy of ' '.repeat(semsLost).split(''), let i = index"> </td>
      <td>{{discipline.department}}</td>
    </tr>
   </ng-container>
  <ng-container *ngIf="editMode" >
    <tr *ngFor="let discipline of editPlan.subjects">
      <td><input (change)="changeNumber($event,discipline.id)" class="input3" value="{{discipline.numberOfDiscipline}}">
      </td>
      <td colspan="2"><input (change)="changeName($event,discipline.id)" class="input3" value="{{discipline.name}}"></td>
      <td  *ngFor="let dummy of ' '.repeat(editPlan.countOfSem).split(''), let i = index"><input
        (change)="changeHoursPerWeek($event,discipline.id,i)" class="input1"
        value="{{discipline.semesters[i].hoursPerWeek}}"> / <input
        (change)="changeCreditUnit($event,discipline.id,i)" class="input2" value="{{discipline.semesters[i].creditUnits}}"></td>
      <td *ngFor="let dummy of ' '.repeat(semsLost).split(''), let i = index"></td>
      <td><input class="input3" (change)="changeDepartment($event,discipline.id)" value="{{discipline.department}}"></td>
    </tr>
   </ng-container >
</tbody>
</table>


<div class="freeHours" *ngIf="editMode">
  <ul class="plans">
    <li *ngFor="let discipline of selectedPlan.subjects">
      <span class="badge">{{discipline.name}}</span> {{discipline.freeHours}} {{discipline.sumOfHours}}
    </li>
  </ul>
</div>

<table mat-table [dataSource]="plans" class="mat-elevation-z8"
       style="width: 12%; margin-left: 3%; margin-top: 2%; align-items: center">
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Учебные планы</th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumnsStudyPlans"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumnsStudyPlans;"
      class="example-element-row"
      (click)="onSelect(row)"></tr>
</table>



<div class="control-panel">
  <div class="control-panel-inner-block mat-elevation-z21">
    <button mat-raised-button class="control-button" (click)="updateStudyPlan()"> Создать </button>

    <button mat-raised-button class="control-button" [disabled]="this.selectedStudyPlan === null" *ngIf="!editMode" (click)="editModeOn()"  > Редактировать</button>
    <button mat-raised-button class="control-button" [disabled]="this.selectedStudyPlan === null" *ngIf="editMode"  (click)="add()"> Сохранить</button>
    <button mat-raised-button class="control-button" [disabled]="this.selectedStudyPlan === null" *ngIf="editMode"  (click)="editModeOff()"> Выйти из режима редактирования</button>
    <div style="width: 40%"></div>
    <button mat-raised-button class="control-button" style="margin-left: auto" [disabled]="this.selectedStudyPlan === null"> Далее </button>
  </div>
</div>


