.timetable-container {

  max-width: 65%;
  min-width: 65%;
  max-height: 40%;
  top: 8%;
  position: absolute;
  left: 16%;
  text-align: center;

}

.timetable{
  width: 100%;
}


  .gold {
   background-color: gold;
}


.vertical {
  word-break: break-all;
}

.vertical1 {
  word-break: break-all;
}

.freeHours {
  top: 8%;
  left: 83%;
  position: absolute;
}

/* plansComponent's private CSS styles */
.plans {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
  left: 2%;
  position: absolute;
}

.plans li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.plans li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.plans li.selected {
  background-color: #CFD8DC;
  color: white;
}

.plans li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}

.plans .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.input1 {
  width: 20%;
  text-align: center;
}

.input2 {
  width: 20%;
  text-align: center;
}

.input3 {
  width: 90%;
  text-align: center;
}

div .control-panel-inner-block {
  position: absolute;
  top: 70%;
  width: 70%;
  left: 15%;
  display: flex;
}
