<table class="timetable" id="timetable" border="1" align="center">
<tbody>
	<tr>
		<td [attr.colspan]="num">{{selectedPlan.name}}</td>
	<tr>
	<tr>
		<td rowspan="8">№</td>
		<td class="vertical1" rowspan="8" colspan="2" >Название</td>
		<td [attr.colspan]="num1">Распределение по курсам и семестрам</td>
		<td class="vertical" rowspan="8">Кафедра</td>
	</tr>
	<tr>
		<td colspan="2" *ngFor="let dummy of ' '.repeat(cources).split(''), let i = index">{{i+1}}</td>
	</tr>
	<tr>
		<td  *ngFor="let dummy of ' '.repeat(selectedPlan.countOfSem).split(''), let i = index">{{i+1}}</td>
		<td  *ngFor="let dummy of ' '.repeat(semsLost).split(''), let i = index"> </td>
	</tr>
	<tr>
		<td [attr.colspan]="num1">Недель в семестре</td>
	</tr>
	<tr>
		<td  *ngFor="let dummy of ' '.repeat(selectedPlan.countOfSem).split(''), let i = index">{{selectedPlan.weeks[i]}}</td>
    <td  *ngFor="let dummy of ' '.repeat(semsLost).split(''), let i = index"> </td>
	</tr>
	<tr>
		<td [attr.colspan]="num1">Часах в неделях/зачетных единиц</td>
	</tr>
	<tr>
		<td *ngFor="let dummy of ' '.repeat(selectedPlan.countOfSem).split(''), let i = index">{{i+13}}</td>
    <td  *ngFor="let dummy of ' '.repeat(semsLost).split(''), let i = index"> </td>
	</tr>
	<tr>
		<td *ngFor="let dummy of ' '.repeat(selectedPlan.countOfSem).split(''), let i = index" >час.н. / з.ед.</td>
		<td  *ngFor="let dummy of ' '.repeat(semsLost).split(''), let i = index"> </td>
	</tr>
	<tr *ngFor="let discipline of selectedDisciplines">
     		 <td>{{discipline.numberOfDiscipline}}</td>
		<td colspan="2"  >{{discipline.name}}</td>
		<td  *ngFor="let dummy of ' '.repeat(selectedPlan.countOfSem).split(''), let i = index">{{discipline.semesters[i].hoursPerWeek}} / {{discipline.semesters[i].creditUnits }} </td>
    <td  *ngFor="let dummy of ' '.repeat(semsLost).split(''), let i = index"> </td>
		<td>{{discipline.department}}</td>
	</tr>
</tbody>
</table>

<nav>
  <a routerLink="/edit">Edit</a>
</nav>

<ul class="plans">
  <li *ngFor="let plan of plans" [class.selected]="plan === selectedPlan"
    (click)="onSelect(plan)">
    <span class="badge">{{plan.id}}</span> {{plan.name}}
  </li>
</ul>



