<div class="example-container" xmlns:position="http://www.w3.org/1999/xhtml">

  <mat-form-field [formGroup]="formGroup">
	  <input id="course" formControlName="course" required class="form-control" matInput placeholder="Количество семестров" (change)="valuesf(0,$event)">
  </mat-form-field>

  <mat-form-field [formGroup]="formGroup">
    <input id="coefficient" formControlName="coefficient" required class="form-control" matInput placeholder="Коэффициент часов в неделю к зачету" (change)="valuesf(2,$event)">
  </mat-form-field>

  <a  *ngFor="let dummy of ' '.repeat(countOfSem).split(''), let i = index" style="position:relative">
    <mat-form-field [formGroup]="formGroupHours">
      <input  id="hours{{i}}" formControlName="hours{{i}}" required matInput placeholder="Недель в семестре {{i+1}}" (change)="changeWeeks(i,$event)">
    </mat-form-field>
  </a>
  <button mat-raised-button color="warn" (click)="add()" [disabled]="formGroup.invalid || formGroupHours.invalid">
    Сохранить
  </button>
  <button mat-button color="warn" (click)=onCancelClick()> Выйти </button>
</div>
