table {
  width: 100%;
  table-layout: fixed;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th .name {
  width: 35%;
}

td, th .abbreviation {
  width: 25%;
}


td, th .department {
  width: 35%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

td, th .icons {
  width: 5%;
}
