<div class="tableMain">
  <mat-form-field>
    <mat-label>Фильтр</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Поиск по преподавателям">
  </mat-form-field>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="name">
        <th style="width: 16%" mat-header-cell *matHeaderCellDef> Name </th>
        <td style="width: 16%" mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="patronymic">
        <th style="width: 16%" mat-header-cell *matHeaderCellDef> Patronymic </th>
        <td style="width: 16%" mat-cell *matCellDef="let element"> {{element.patronymic}} </td>
      </ng-container>

      <ng-container matColumnDef="surname">
        <th style="width: 17%" mat-header-cell *matHeaderCellDef> Surname </th>
        <td style="width: 17%" mat-cell *matCellDef="let element"> {{element.patronymic}} </td>
      </ng-container>

      <ng-container matColumnDef="position">
        <th style="width: 17%" mat-header-cell *matHeaderCellDef> Position </th>
        <td style="width: 17%" mat-cell *matCellDef="let element"> {{element.patronymic}} </td>
      </ng-container>

      <ng-container matColumnDef="rank">
        <th style="width: 17%" mat-header-cell *matHeaderCellDef> Rank </th>
        <td style="width: 17%" mat-cell *matCellDef="let element"> {{element.patronymic}} </td>
      </ng-container>

      <ng-container matColumnDef="academicDegree">
        <th style="width: 17%" mat-header-cell *matHeaderCellDef> AcademicDegree </th>
        <td style="width: 17%" mat-cell *matCellDef="let element"> {{element.patronymic}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
  </div>
</div>
